* {
    font-family: Arial, Helvetica, sans-serif;
}

.odin-recipes-logo {
    display: block;
    height: 600px;
    width: 800px;
    margin: auto; 
    margin-top: 0px; 
}

.logo-container {
    margin-top: 0px;
}

.recipe-container{
    display: inline-block;
    height:500px;
    width: 400px;
    margin-right: 50px;
}

.recipe-container img {
    display: block;
    height: 500px;
    width: 500px;
}


.recipe {
    font-weight: bold;
    font-size: 20px; 
}

